:root {
  --color-primary: #D62828;
  --color-secondary:#5A8392;
  --color-border: #949393; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 1rem;
  font-family: 'Sen', sans-serif;
  line-height: 1.5; }

.home {
  width: 100%;
  background-color: white;
  margin-left: 230px; }
  .home__background {
    position: relative;
    background-image: url("../../Images/fruits.jpg");
    background-position: center;
    height: 1110px;
    box-shadow: 4px 4px 15px #5f5e5e; }

.findStore {
  background-image: url("../../Images/restaurant.jpg");
  background-position: bottom;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .findStore__box {
    width: 450px;
    height: 250px;
    background-color: #f8f5f5;
    box-shadow: 2px 2px 10px black; }

@media screen and (max-width: 1400px) {
  .home__background {
    height: 750px; } }

@media screen and (max-width: 1300px) {
  .findStore__box {
    width: 350px;
    height: 280px; } }

@media screen and (max-width: 1100px) {
  .home {
    margin-left: 190px; } }

@media screen and (max-width: 850px) {
  .home {
    margin-left: 0px; } }

@media screen and (max-width: 550px) {
  .findStore {
    height: 500px; }
    .findStore__box {
      width: 250px;
      height: 280px; } }

@media screen and (max-width: 400px) {
  .findStore__box {
    width: 230px;
    height: 280px; } }

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 230px;
  height: 100%;
  align-items: center;
  box-shadow: 4px 4px 15px black;
  z-index: 10;
  position: fixed;
  display: block; }
  .sidebar__logo {
    padding: 2.5rem 0 4rem 0;
    align-items: center;
    justify-content: center; }
    .sidebar__logo--header {
      font-size: 2.5rem;
      color: var(--color-primary);
      font-family: 'Permanent Marker', cursive; }

@media screen and (max-width: 1100px) {
  .sidebar {
    width: 190px;
    padding: 2rem 2.5rem; } }

@media screen and (max-width: 850px) {
  .sidebar {
    display: none;
    z-index: 10000;
    background-color: white; } }

.App {
  display: flex;
  width: 100%vh;
  font-family: 'Open Sans', sans-serif; }

.ButtonContainer {
  z-index: 100; }

.Button__Kitchen {
  font-family: inherit;
  border: none;
  margin-left: 1rem;
  font-size: 0.9rem;
  border-radius: 30px;
  padding: 0.7rem 1.5rem;
  color: white;
  background-color: var(--color-secondary); }
  .Button__Kitchen:focus {
    outline: none; }
  .Button__Kitchen--link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: inherit; }

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  align-items: center;
  margin-right: 1rem; }
  .navigation__primary {
    display: flex;
    align-items: center; }
  .navigation__item {
    margin-bottom: 0.7rem;
    list-style: none; }
    .navigation__item--link {
      color: black;
      text-decoration: none;
      font-weight: bold; }
      .navigation__item--link:hover, .navigation__item--link:active {
        border-bottom: 3px solid var(--color-secondary); }
    .navigation__item--svg {
      margin-right: 1rem;
      margin-bottom: 0.3rem; }

.hamburger {
  position: absolute;
  top: 2%;
  left: 3%; }

@media screen and (max-width: 2100px) {
  .hamburger {
    display: none; } }

@media screen and (max-width: 850px) {
  .hamburger {
    display: block;
    z-index: 10000000; } }

.search {
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 30%);
  align-items: center;
  z-index: 20; }
  .search__header {
    color: #fffefe;
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem; }
  .search__input {
    border: none;
    font-family: inherit;
    width: 850px;
    height: 55px;
    box-shadow: 1px 2px 8px #777777;
    font-weight: bold;
    display: flex;
    font-size: 1.3rem;
    border-radius: 100px;
    padding: 1rem 2rem 1rem 3.5rem;
    color: #424141;
    background-color: #faf6f6; }
    .search__input:focus {
      outline: none; }
    .search__input--svg {
      position: relative;
      top: 44px;
      left: 25px; }

@media screen and (max-width: 1600px) {
  .search {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 25%); } }

@media screen and (max-width: 1400px) {
  .search__header {
    font-size: 4rem;
    margin-bottom: 0rem; }
  .search__input {
    width: 600px;
    height: 47px; }
    .search__input--svg {
      position: relative;
      top: 40px;
      left: 25px; } }

@media screen and (max-width: 1100px) {
  .search__input {
    width: 500px; } }

@media screen and (max-width: 700px) {
  .search__input {
    width: 400px;
    height: 40px;
    font-size: 1rem; }
    .search__input--svg {
      position: relative;
      top: 35px;
      left: 20px;
      width: 15px;
      height: 15px; }
  .search__header {
    font-size: 3.5rem; } }

@media screen and (max-width: 550px) {
  .search__input {
    width: 300px;
    height: 40px;
    font-size: 1rem; }
  .search__header {
    line-height: 1.1; } }

@media screen and (max-width: 430px) {
  .search__input {
    width: 250px;
    height: 40px;
    font-size: 1rem; } }

.listFood {
  margin: 3rem 5rem; }
  .listFood__textarea {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .listFood__textarea--header {
      font-family: 'Permanent Marker', cursive;
      font-size: 3rem; }
    .listFood__textarea--paragraph {
      text-transform: uppercase;
      font-size: 0.85rem; }
  .listFood__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .listFood__list--link {
      color: black;
      text-decoration: none;
      font-weight: bold; }
  .listFood__element {
    display: flex;
    margin-top: 3rem;
    flex-direction: column; }
    .listFood__element--link {
      color: black;
      text-decoration: none;
      font-weight: bold; }
  .listFood__imagebox {
    position: relative; }
    .listFood__imagebox--image {
      height: 230px;
      width: 320px;
      margin-bottom: 1rem;
      border-radius: 8px; }
      .listFood__imagebox--image:hover + .listFood__imagebox--text {
        display: block; }
    .listFood__imagebox--text {
      position: absolute;
      bottom: 8.2%;
      left: 0;
      font-weight: bold;
      display: none;
      font-size: 0.9rem;
      border-radius: 0px 8px 0px 8px;
      padding: 0.5rem 0.8rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.75); }
  .listFood__info {
    display: flex; }
  .listFood__infobox {
    padding-left: 0.5rem; }
    .listFood__infobox--titleparagraph {
      width: 325px;
      font-weight: bold;
      margin-bottom: 0.2rem; }
    .listFood__infobox--minuteparagraph {
      font-size: 0.8rem; }

@media screen and (max-width: 1842px) {
  .listFood__imagebox--image {
    width: 300px; }
  .listFood__infobox--titleparagraph {
    width: 280px; } }

@media screen and (max-width: 1750px) {
  .listFood__imagebox--image {
    width: 270px;
    height: 200px; }
  .listFood__imagebox--text {
    position: absolute;
    bottom: 10%;
    left: 0; } }

@media screen and (max-width: 1630px) {
  .listFood__imagebox--image {
    width: 250px;
    height: 190px; }
  .listFood__infobox--titleparagraph {
    width: 230px; } }

@media screen and (max-width: 1530px) {
  .listFood__imagebox--image {
    width: 220px;
    height: 170px; }
  .listFood__imagebox--text {
    position: absolute;
    bottom: 11.3%;
    left: 0; }
  .listFood__infobox--titleparagraph {
    width: 220px; } }

@media screen and (max-width: 1410px) {
  .listFood__imagebox--image {
    width: 200px;
    height: 150px; }
  .listFood__imagebox--text {
    position: absolute;
    bottom: 12%;
    left: 0; }
  .listFood__infobox--titleparagraph {
    width: 180px; } }

@media screen and (max-width: 1330px) {
  .listFood {
    margin: 3rem 3rem; }
    .listFood__imagebox--image {
      width: 390px;
      height: 270px;
      margin-left: 2rem; }
    .listFood__imagebox--text {
      position: absolute;
      bottom: 7.7%;
      left: 7.5%; }
    .listFood__infobox--titleparagraph {
      margin-left: 2rem;
      width: 340px; }
    .listFood__infobox--minuteparagraph {
      margin-left: 2rem; } }

@media screen and (max-width: 1200px) {
  .listFood {
    margin: 3rem 3rem; }
    .listFood__imagebox--image {
      width: 350px;
      height: 250px; }
    .listFood__imagebox--text {
      position: absolute;
      bottom: 8.1%;
      left: 8.4%; }
    .listFood__infobox--titleparagraph {
      margin-left: 2rem;
      width: 340px; }
    .listFood__infobox--minuteparagraph {
      margin-left: 2rem; }
    .listFood__textarea--header {
      font-size: 2.5rem; } }

@media screen and (max-width: 1100px) {
  .listFood {
    margin: 3rem 3rem; }
    .listFood__imagebox--image {
      width: 400px;
      height: 270px; }
    .listFood__imagebox--text {
      position: absolute;
      bottom: 7.7%;
      left: 7.5%; } }

@media screen and (max-width: 850px) {
  .listFood {
    margin: 3rem 3rem; }
    .listFood__imagebox--image {
      width: 330px;
      height: 230px; }
    .listFood__imagebox--text {
      position: absolute;
      bottom: 8.8%;
      left: 8.4%; } }

@media screen and (max-width: 580px) {
  .listFood__textarea--header {
    font-size: 2.2rem;
    width: 85%;
    line-height: 1.1;
    margin-bottom: 1rem;
    margin-left: 2rem;
    text-align: center; }
  .listFood__textarea--paragraph {
    font-size: 0.75rem; }
  .listFood__imagebox {
    display: flex;
    justify-content: center; }
    .listFood__imagebox--image {
      width: 270px;
      height: 220px;
      margin-left: 0rem; }
    .listFood__imagebox--text {
      position: absolute;
      bottom: 6.8%;
      left: 0%; }
  .listFood__infobox {
    padding-left: 0rem;
    margin-left: 0.5rem; }
    .listFood__infobox--titleparagraph {
      width: 250px;
      margin-left: 0rem;
      font-size: 0.9rem; }
    .listFood__infobox--minuteparagraph {
      margin-left: 0.1rem;
      font-size: 0.9rem; } }

@media screen and (max-width: 390px) {
  .listFood {
    margin: 3rem 3rem; }
    .listFood__imagebox--image {
      width: 250px;
      height: 200px; }
    .listFood__infobox--titleparagraph {
      margin-left: 0.2rem;
      width: 240px; }
    .listFood__infobox--minuteparagraph {
      margin-left: 0.2rem; } }

.section {
  padding: 2rem 3rem 3rem 4rem;
  display: flex; }
  .section__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .section__container--header {
      font-family: 'Permanent Marker', cursive;
      font-size: 2rem;
      margin-bottom: 1.5rem; }
    .section__container--paragraph {
      padding: 0rem 12rem;
      text-align: justify; }
    .section__container--smallParagraph {
      font-size: 0.95rem;
      text-align: center;
      margin-bottom: 2rem; }
    .section__container--link {
      color: black;
      text-decoration: none;
      font-weight: bold;
      border-bottom: 3px solid var(--color-secondary);
      font-size: 0.95rem; }

@media screen and (max-width: 1340px) {
  .section {
    padding: 1.5rem 2rem 1.5rem 2rem; }
    .section__container--paragraph {
      padding: 0 9rem; } }

@media screen and (max-width: 1147px) {
  .section__container--header {
    width: 80%;
    text-align: center; }
  .section__container--paragraph {
    padding: 0 5rem; } }

@media screen and (max-width: 550px) {
  .section__container--header {
    width: 80%;
    text-align: center;
    font-size: 1.7rem; }
  .section__container--paragraph {
    font-size: 0.95rem;
    padding: 0 2rem; }
  .section__container--smallParagraph {
    font-size: 0.9rem; }
  .section__container--link {
    font-size: 0.9rem; } }

.imageSlider {
  padding: 4rem 28rem; }
  .imageSlider__textContainer {
    margin-bottom: 2rem; }
  .imageSlider__textbox {
    text-align: center; }
    .imageSlider__textbox--paragraph {
      margin-bottom: 2rem; }
    .imageSlider__textbox--header {
      font-weight: bold;
      font-size: 1.1rem; }
  .imageSlider__logoContainer {
    display: flex;
    justify-content: space-between; }
  .imageSlider__imagebox--image {
    width: 120px;
    height: 120px;
    cursor: pointer; }

@media screen and (max-width: 1800px) {
  .imageSlider {
    padding: 4rem 24rem; } }

@media screen and (max-width: 1600px) {
  .imageSlider {
    padding: 4rem 20rem; } }

@media screen and (max-width: 1430px) {
  .imageSlider {
    padding: 4rem 15rem; } }

@media screen and (max-width: 1250px) {
  .imageSlider {
    padding: 4rem 10rem; } }

@media screen and (max-width: 1100px) {
  .imageSlider {
    padding: 4rem 5rem; } }

@media screen and (max-width: 1100px) {
  .imageSlider__imagebox--image {
    width: 80px;
    height: 80px; } }

@media screen and (max-width: 550px) {
  .imageSlider {
    padding: 4rem 2rem; }
    .imageSlider__imagebox--image {
      width: 60px;
      height: 60px; }
    .imageSlider__textbox--paragraph {
      font-size: 0.9rem; }
    .imageSlider__textbox--header {
      font-size: 1rem; } }

.lookRecipes {
  width: 100%;
  padding-left: 260px; }

@media screen and (max-width: 1330px) {
  .lookRecipes {
    padding-left: 180px; } }

@media screen and (max-width: 1200px) {
  .lookRecipes {
    padding-left: 200px; } }

@media screen and (max-width: 850px) {
  .lookRecipes {
    padding-left: 0px; } }

.FilterSortArea {
  margin: 3rem 9rem 0rem 8.5rem;
  border-bottom: 2px solid var(--color-border);
  font-size: 0.9rem;
  border-radius: 0px;
  padding: 0 0 0.5rem 0;
  color: black;
  background-color: white;
  font-weight: bold;
  align-items: center;
  display: flex; }

@media screen and (max-width: 600px) {
  .FilterSortArea {
    margin: 3rem 4rem 0rem 4rem; } }

@media screen and (max-width: 400px) {
  .FilterSortArea {
    margin: 3rem 3rem 0rem 3rem; } }

.filterSort {
  display: flex; }

.filter {
  padding-right: 1rem;
  border-right: 2px solid var(--color-border);
  display: flex;
  align-items: center; }
  .filter__svg {
    margin-right: 0.5rem; }

.reset {
  padding-left: 1rem; }

.sort {
  display: flex;
  justify-content: flex-end;
  width: 1335px;
  align-items: center;
  position: relative;
  z-index: 100000; }
  .sort__svg {
    transform: rotate(180deg);
    margin-bottom: 0.3rem;
    margin-left: 0.3rem; }
  .sort__dropdown {
    position: absolute;
    top: 132%;
    right: 0%;
    border: 2px solid var(--color-secondary);
    box-shadow: 2px 2px 6px #303030;
    display: none; }
    .sort__dropdown:last-child {
      border-bottom: 0px; }
    .sort__dropdown--element {
      list-style: none;
      padding: 0.7rem 1rem;
      color: #0d0d0e;
      border-bottom: 2px solid var(--color-secondary);
      cursor: pointer; }

@media screen and (max-width: 390px) {
  .sort__dropdown--element {
    text-align: center;
    padding: 0.7rem 0.5rem; } }

.filterQuestions {
  margin: 1.5rem 8.5rem 0rem 8.5rem;
  border-bottom: 2px solid var(--color-border);
  padding: 2rem; }
  .filterQuestions__container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column; }
  .filterQuestions__div {
    display: flex; }
    .filterQuestions__div--span {
      font-size: 1.5rem;
      color: var(--color-primary);
      font-family: 'Permanent Marker', cursive; }
  .filterQuestions__answears {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
    .filterQuestions__answears--list {
      list-style: none;
      margin-left: 2rem;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      font-size: 0.85rem;
      border-radius: 10px;
      padding: 0.5rem 2rem;
      color: white;
      background-color: var(--color-secondary); }

@media screen and (max-width: 1400px) {
  .filterQuestions__answears {
    margin-bottom: 2rem; }
    .filterQuestions__answears--list {
      font-size: 0.8rem;
      border-radius: 10px;
      padding: 0.7rem 1rem;
      color: white;
      background-color: var(--color-secondary); } }

@media screen and (max-width: 1215px) {
  .filterQuestions__answears {
    margin-bottom: 1rem; }
    .filterQuestions__answears--list {
      display: flex;
      justify-content: center;
      align-items: center; }
  .filterQuestions__div {
    display: block;
    text-align: center; }
    .filterQuestions__div--span {
      margin-bottom: 1rem;
      font-size: 1.7rem; } }

@media screen and (max-width: 500px) {
  .filterQuestions {
    padding: 1rem 0rem;
    margin: 0 2rem; }
    .filterQuestions__answears--list {
      margin-left: 0.5rem;
      font-size: 0.75rem;
      border-radius: 10px;
      padding: 0.7rem 0.5rem;
      color: white;
      background-color: var(--color-secondary); } }

.credits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 450px; }
  .credits__div {
    margin-bottom: 2rem; }
    .credits__div--text {
      text-align: center; }
  .credits__acknowledged {
    font-size: 0.7rem; }
    .credits__acknowledged--link {
      color: black;
      text-decoration: none; }
