.search {
    justify-content: center;
    @include positioning(absolute, 30%, null, null, 50%);
    transform: translate(-50%, 30%);
    align-items: center;
    z-index: 20;

    &__header {
        color: rgb(255, 254, 254);
        font-family: 'Permanent Marker', cursive;
        font-size: 5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__input {
       border: none;
       font-family: inherit;
       width: 850px;
       height: 55px;
       box-shadow: 1px 2px 8px rgb(119, 119, 119);
       font-weight: bold;
       display: flex;
       @include area(1.3rem, 100px, 1rem 2rem 1rem 3.5rem, rgb(66, 65, 65), rgb(250, 246, 246));
       

    &:focus {
        outline: none;
    }

    &--svg {
        @include positioning(relative, 44px, null, null, 25px)
    }}
}
// MEDIA QUERIES
// 
@media screen and (max-width: 1600px) {
    .search {
        @include positioning(absolute, 25%, null, null, 50%);
        transform: translate(-50%, 25%);
    }
}

@media screen and (max-width: 1400px) {
    .search {

    &__header {
        font-size: 4rem;
        margin-bottom: 0rem;
    }

    &__input {
        width: 600px;
        height: 47px;

        &--svg {
            @include positioning(relative, 40px, null, null, 25px)       
        }
     }}
}

@media screen and (max-width: 1100px) {
    .search {

        &__input {
            width: 500px;
        }

    }

}

@media screen and (max-width: 700px) {
    .search {

        &__input {
            width: 400px;
            height: 40px;
            font-size: 1rem;

            &--svg {
                @include positioning(relative, 35px, null, null, 20px);
                width: 15px;
                height: 15px;       
            }
        }

        &__header {
             font-size: 3.5rem;
        }
    }

}


@media screen and (max-width: 550px) {
    .search {

        &__input {
            width: 300px;
            height: 40px;
            font-size: 1rem;
        }
        &__header {
            line-height: 1.1;
        }
    }

}

@media screen and (max-width: 430px) {
    .search {

        &__input {
            width: 250px;
            height: 40px;
            font-size: 1rem;
        }
    }

}
