.sidebar {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: 230px;
    height: 100%;
    align-items: center;
    box-shadow: 4px 4px 15px rgb(0, 0, 0);
    z-index: 10;
    position: fixed;
    display: block;
    
    
    &__logo {
        padding:2.5rem 0 4rem 0;
        align-items: center;
        justify-content: center;

        &--header {
            font-size: 2.5rem;
            color: var(--color-primary);
            font-family: 'Permanent Marker', cursive;
        }
    }
}

@media screen and (max-width: 1100px) {
    .sidebar {
        width: 190px;
        padding: 2rem 2.5rem;
    }

}

@media screen and (max-width: 850px) {
    .sidebar {
        display: none;
        z-index: 10000;
        background-color: white;

    }
}


